<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Home" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Account" asp-controller="User" asp-action="Overview">Users</a>
    </li>
</ul>